
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Kalam:wght@300;400;700&family=Kite+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 20px;
}

.kalamFont{
    font-family: "Kalam", serif;
}
.KiteOneFont{
    font-family: "Kite One", serif;
}
.jostFont{
    font-family: "Jost", serif;
}